body {
  color: black;
}
.headerpart {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  width: 86%;
  margin: 0 0 0 auto;
  height: 60px;
  background-color: rgb(40, 46, 70);
  transition: 1s;
}
.profile {
  width: 40px;
}
.profile img {
  width: 100%;
  height: fit-content;
  border-radius: 50%;
  border: 1px solid white;
}
.headerparttoggled {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 0 0 auto;
  height: 60px;
  background-color: rgb(40, 46, 70);
  transition: 1s;
}
.toggle {
  width: 2%;
}
.toggle * {
  object-fit: cover;
}
.profile {
  margin-right: 5%;
}
.righthead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.darklightmode {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.dmode1,
.lmode2 {
  position: absolute;
  left: 0;
  transition: left 1s;
}
.dmode2,
.lmode1 {
  position: absolute;
  left: 50px;
  transition: left 1s;
}
/*whitemode*/
#whitemode {
  background-color: white;
}

#whitemode {
  border-bottom: 1px solid black;
  box-shadow: 3px 3px 10px black;
  border-bottom-left-radius: 5px;
}
