.WorkingdaysWrapper {
  width: 85%;
  height: 80vh;
  gap: 10px;
  margin: 0 0 0 auto;
  margin-top: 2%;
  color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.days {
  gap: 5px;
}
.days li,
.weeklyleave li {
  height: 30px;
  display: flex;
  text-align: center;
  border-bottom: 1px solid rgb(40, 46, 70);
}
.radios label {
  margin-right: 10px;
}
.radios,
#holidayform {
  width: 100%;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: white;
  background-color: rgb(40, 46, 70);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.innerradios {
  width: 110%;
}
.workingdays h2,
.weeklyleave h2,
.Holidays h2 {
  padding-left: 10px;
  border-bottom: 1px solid white;
}
.workingdays button,
.weeklyleave button,
.Holidays select,
.dontbtn {
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(117, 120, 255);
  cursor: pointer;
}
.Holidays button {
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(117, 120, 255);
  border-color: transparent;
  cursor: pointer;
}
#workingdayshead {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#weeklyleavehead {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#holidayhead {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#holidayform {
  display: flex;
  gap: 10px;
}
#holidayform input {
  color: white;
  width: 25%;
  height: 30px;
  background-color: transparent;
  border: 1px solid white;
}
#holidayform button {
  width: 100px;
  height: 30px;
}
.Holidays input {
  border-radius: 5px;
}
#holidays {
  list-style-type: none;
}
.eachholidays {
  display: flex;
}
.weeklyleave,
.Holidays,
.workingdays {
  border-radius: 10px;
  background-color: rgb(22, 27, 46);
}
.gridholiday {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}
.WorkingdaysWrapper button:hover {
  background-color: rgb(133, 135, 255);
  cursor: pointer;
}
/*whitemode */
.whiteWorkingdaysWrapper {
  width: 85%;
  height: 80vh;
  gap: 10px;
  margin: 0 0 0 auto;
  margin-top: 2%;
  color: black;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.whiteWorkingdaysWrapper .workingdays,
.whiteWorkingdaysWrapper .Holidays,
.whiteWorkingdaysWrapper .weeklyleave {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(234, 234, 234);
}
.whiteWorkingdaysWrapper .innerradios {
  width: 110%;
  background-color: rgb(200, 200, 200);
}
.whiteWorkingdaysWrapper .radios {
  background-color: rgb(200, 200, 200);
}
.whiteWorkingdaysWrapper #holidayform {
  background-color: rgb(200, 200, 200);
}
.whiteWorkingdaysWrapper #holidayform input {
  border-color: black;
}

/*media query*/
@media screen and (max-width: 1200px) {
  .WorkingdaysWrapper {
    width: 100%;
    height: 100%;
    display: block;
  }

  .whiteWorkingdaysWrapper {
    width: 100%;
    height: 100%;
    display: block;
  }
  .workingdays {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  .whiteWorkingdaysWrapper .workingdays {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  .radios {
    width: 98%;
    height: 6vh;
    overflow: scroll;
  }
  .whiteWorkingdaysWrapper .radios {
    width: 98%;
    height: 6vh;
    overflow: scroll;
  }
  .days {
    display: block;
  }
  .whiteWorkingdaysWrapper .days {
    display: block;
  }
}
@media screen and (max-width: 690px) {
  .WorkingdaysWrapper {
    margin-top: 10%;
  }
  .whiteWorkingdaysWrapper {
    margin-top: 10%;
  }
  .radios {
    height: 8vh;
  }
  .whiteWorkingdaysWrapper .radios {
    height: 8vh;
  }
  .innerradios {
    margin-left: 30px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8, 0.4fr);
    grid-template-rows: repeat(2, 0.1fr);
  }
  .whiteWorkingdaysWrapper .innerradios {
    margin-left: 30px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8, 0.4fr);
    grid-template-rows: repeat(2, 0.1fr);
  }
  .innerradios input {
    width: 10px;
  }
  .whiteWorkingdaysWrapper input {
    width: 10px;
  }
  .workingdays,
  .weeklyleave {
    margin-bottom: 5%;
  }
  .whiteWorkingdaysWrapper .workingdays,
  .whiteWorkingdaysWrapper .weeklyleave {
    margin-bottom: 5%;
  }
}
